/**
 * Global CSS styles for the application.
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --default-color: #6F2F5D;
  --default-bg-color: #B38EBB50;
  --create-color: #452F6F;
  --create-bg-color: #8C90BA50;
  --participate-color: #6F2F2F;
  --participate-bg-color: #BA8F9E80;
  
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #B38EBB50;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: min(98vw,1000px);
  max-width: 100vw;
  height: 100dvh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 0;
  /*padding: 3em 0 0.5em 0;*/
  text-align: center;
  z-index: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  #root {
    font-size: 0.9em;
  }
}

a {
  font-weight: 500;
  color: var(--default-color);
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch; 
  background-image: url('./../backgroundImage2048.webp');
  background-size: cover;
  height: 100dvh;
  max-width: 100vw;
  overflow:hidden;
  position: relative;
}
body::before {
  margin: 0;
  padding: 0;
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  background: linear-gradient(180deg,#452F6F20,#6F2F2F20)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

