@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5rem 3rem 1.5rem;
  text-align: center;

  --default-color: #6F2F5D;
  --default-bg-color: #B38EBB50;
  --create-color: #452F6F;
  --create-bg-color: #8C90BA50;
  --participate-color: #6F2F2F;
  --participate-bg-color: #BA8F9E80;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-image: url('./../backgroundImage2048.png');
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

