/**
 * Global CSS styles for the application.
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --default-color: #6F2F5D;
  --default-bg-color: #B38EBB50;
  --create-color: #452F6F;
  --create-bg-color: #8C90BA50;
  --participate-color: #6F2F2F;
  --participate-bg-color: #BA8F9E80;
  
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #FFF9FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

#root {
  max-width: min(calc(100vw - 3em), 1000px);
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem 0.5rem 1.5rem;
  text-align: center;
  z-index: 0;
}

a {
  font-weight: 500;
  color: var(--default-color);
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-image: url('./../backgroundImage2048.webp');
  min-width: 320px;
  min-height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100vh;
  background: linear-gradient(180deg,#452F6F20,#6F2F2F20)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

