.buttonsContainer {
  position: absolute;
  right: 1.5em;
  top: 1em;
  display: flex;
  flex-direction: row;
  gap: 0.7em;
}
@media (max-width: 750px) {
  .buttonsContainer {
    font-size: 0.9em;
  }
}
@media (max-width: 650px) {
  .buttonsContainer {
    top: 0.5em;
    font-size: 0.7em;
    /*flex-direction: column;*/
    gap: 0.5em;
  }
}

.simplePollsTitle {
  font-size: 5em;
  letter-spacing: -0.07em;
  line-height: 0.78em;
  margin: 0.2em 0.6em;
  text-shadow: 0 0 0.03em white;
  text-decoration: none;
}
@media (max-width: 600px) {
  .simplePollsTitle {
    font-size: 3.5em
  }
}
.simplePollsTitle a:hover {
  text-decoration: none;
}

.simpleTitle {
  color: var(--participate-color);
  font-weight: 800;
}

.pollsTitle {
  color: var(--create-color);
  font-weight: 800;
}
