

.simplePollsTitle {
  font-size: 5em;
  letter-spacing: -0.07em;
  line-height: 0.78em;
  margin: 0.2em 0.6em;
  text-shadow: 0 0 0.03em white;
}

.simpleTitle {
  color: var(--participate-color);
}

.pollsTitle {
  color: var(--create-color);
}
