#root {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5rem 3rem 1.5rem;
  text-align: center;
}

.simplePollsTitle {
  font-size: 5em;
  letter-spacing: -0.07em;
  line-height: 0.78em;
  margin: 0.6em;
  text-shadow: 0 0 0.03em white;
}

.simpleTitle {
  color: #6F382F;
}

.pollsTitle {
  color: #462E6E;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0rem 0 0rem;
  width: 100%;
}

.contentCard {
  background-color: #B38EBB50;
  border: 6px solid #6F2F5D;
  backdrop-filter: blur(10px);
  flex-grow: 1;
  border-radius: 25px;
  padding: 1.5em;
  width: 200px;
  height: 60vh;
  max-height: 110vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}