.openWindowButton {
  width: 2.5em;
  height: 2.5em;
  font-size: 1.2em;
  backdrop-filter: blur(10px);
}

.contentContainer {
  text-align: left;
  padding: 0 0.5em
}

.contentContainer h2 {
  margin-top: 0;
}

.warningIcon {
  margin-right: 0.1em;
  color: var(--default-color);
}

.warningText {
  font-weight: 600;
  font-style: italic;
}

.contentContainer li {
  list-style-type: disclosure-closed;
}