.spinner {
  width: 4em;
  height: 4em;
  margin: auto;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loadingWindow {
  padding: 1em;
  width: auto;
}
.closeButton {
  display: none;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 8em;
  height: 8em;
}
.spinnerContainer picture {
  margin: auto 0;
}

.loadingText {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: var(--default-color);
  transition: all 0.2s linear;
}