.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.shareWindowContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  max-width: 85vw;
  height: inherit;
  min-height: 30vh;
  max-height: min(70vh, 50em);
  padding: 3em 1em 0.5em 1em;
  align-items: center;
  text-align: center;
  background-color: #e2c1cdb5;
  border-color:  var(--participate-color);
  z-index: 1000;
}
.closeButton {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 2.5em;
  height: 2.5em;
  font-size: 1em;
  background-color: var(--participate-bg-color);
  border-color: var(--participate-color);
}
.closeButton:hover,
.closeButton:focus,
.closeButton:active {
  background-color: var(--participate-color) !important;
}

.shareWindowContent {
  height: 100%;
  overflow: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  scrollbar-color: #BA8F9E #ffffff00;
}

.title{
  padding: 0;
  margin: 0;
  font-size: 1.4em;
}

.instructions {
  margin: 0.7em 0 0.5em 0;
}

.qrCode {
  padding: 1em;
  max-width: min(50vw, 30vh);
  max-height: min(50vw, 30vh);
  min-height: 8em;
  background-color: white;
  border-radius: 1.2em;
}

.socialsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.socialButton {
  font-size: 2em;
  padding: 0;
  width: 2em;
  height: 2em;
  background-color: var(--participate-bg-color);
  border-color: var(--participate-color);
}
.socialButton:not(:disabled):hover,
.socialButton:not(:disabled):focus,
.socialButton:not(:disabled):active {
  padding: 0;
  background-color: var(--participate-color) !important;
}
@media (max-width: 600px) {
  .socialButton {
    font-size: 1.6em;
  }
}

.whatsAppButton {
  background-color: #23b759;
  color: white
}

.telegramButton {
  background-color: #087cb5;
  color: white;
}

.emailButton {
  background-color: #cc6032;
  color: white;
}

.smsButton {
  background-color: #8cb943;
  color: white;
}

.linkInput {
  min-width: 80%;
  max-width: 100%;
  height: 3em;
  text-align: center;
  margin-bottom: 0.4em;
  border-color: var(--participate-color);
}
.linkInput:focus {
  outline-color: var(--participate-color);
}