.joinPageContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-right: 10px;
  scrollbar-color: var(--participate-color) #ffffff00;
}
