.HeaderContainer {
  min-height: 4em;
  padding: 0;
  border-bottom: 3px solid var(--participate-color);
}
.openPollFormContainer {
  height: 4em;
  display: flex;
  gap: 0.8em;
  padding: 0;
}

.pollIdInput {
  flex-grow: 3;
  width: 50px;
  border-color: var(--participate-color);
}
.joinButton {
  flex-grow: 1;
  width: 50px;
  background-color: var(--participate-bg-color) !important;
  border-color: var(--participate-color) !important;
  box-sizing: border-box;
}
.joinButton:not(:disabled):hover,
.joinButton:not(:disabled):active {
  background-color: var(--participate-color) !important;
}

.errorMessage {
  color: red;
  min-height: 0.7em;
  display: block;
  text-align: left;
  line-height: 1;
  padding: 0.4em 0;
}

.errorMessageIcon {
  margin-right: 0.1em;
}