.createNewLogo, .participateLogo {
  width: 80%;
  max-width: 40vh;
}
@media (max-width: 600px) {
  .createNewLogo, .participateLogo {
    max-width: fit-content;
    height: 16vh;
  }
}


.createNewCard {
  background-color: var(--create-bg-color);
  border: 6px solid var(--create-color);
  display: grid;
  place-items: center;
}
@media (max-width: 600px) {
  .createNewCard {
    width: 100%;
    height: 30vh;
  }
}

.createNewButton {
  background-color: var(--create-bg-color) !important;
  border-color: var(--create-color) !important;
  width: 70%;
  height: 4em;
  max-height: 10vh;
  margin-bottom: -1em;
}
.createNewButton:hover,
.createNewButton:active {
  background-color: var(--create-color) !important;
}


.participateCard {
  background-color: var(--participate-bg-color);
  border: 6px solid var(--participate-color);
  display: grid;
  place-items: center;
}
@media (max-width: 600px) {
  .participateCard {
    width: 100%;
    height: 30vh;
  }
}

.participateButton {
  background-color: var(--participate-bg-color) !important;
  border-color: var(--participate-color) !important;
  width: 70%;
  height: 4em;
  max-height: 10vh;
  margin-bottom: -1em;
}
.participateButton:hover,
.participateButton:active {
  background-color: var(--participate-color) !important;
}