.createNewCard {
  background-color: #8C90BA50;
  border: 6px solid #452F6F;
  display: grid;
  place-items: center;
}

.participateCard {
  background-color: #B98E9B50;
  border: 6px solid #6F372E;
  display: grid;
  place-items: center;
}

.createNewLogo, .participateLogo {
  width: 80%;
  max-width: 40vh;
}

.createNewButton {
  background-color: #8E92BAC0 !important;
  border-color: #452F6F !important;
  width: 70%;
  height: 4em;
  margin-bottom: -1em;
}
.createNewButton:hover,
.createNewButton:focus,
.createNewButton:active {
  background-color: #452F6F !important;
}

.participateButton {
  background-color: #BA8F9E80 !important;
  border-color: #6F372E !important;
  width: 70%;
  height: 4em;
  margin-bottom: -1em;
}
.participateButton:hover,
.participateButton:focus,
.participateButton:active {
  background-color: #6F372E !important;
}