.answersContainer {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%;
  margin-top: 1.5em;
}

.answerContainer {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
}
.answerInputContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.answerContainer .answerInput {
  width: 100%;
  border-color: var(--create-color) !important;
  height: 3.2em;
  min-height: 3.2em;
  resize: none;
  overflow: hidden;
  transition: none;
}
.answerContainer .answerInput::placeholder {
  color: var(--create-color);
}
.answerContainer .deleteAnswerButton {
  aspect-ratio: 1;
  height: 3.2em;
  width: 3.2em;
  background-color: var(--create-bg-color);
  border-color: var(--create-color);
}
.answerContainer .deleteAnswerButton:hover,
.answerContainer .deleteAnswerButton:active {
  background-color: var(--create-color);
  color: white;
}
@media (max-width: 600px) {
  .answerContainer .answerInput {
    min-height: 4.45em;
  }
  .answerContainer .deleteAnswerButton {
    height: 2.5em;
    width: 2.5em;
  }
}

.charCount {
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
}