.openLanguageWindowButton {
  width: 2.5em;
  height: 2.5em;
  font-size: 1.2em;
  backdrop-filter: blur(10px);
}

.buttonsContainer {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}