.headerContainer {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  min-height: 4em;
  padding-bottom: 1.5em;
  border-bottom: 3px solid var(--participate-color);
}
@media (max-width: 600px) {
  .headerContainer {
    min-height:fit-content;
  }
}

.button {
  background-color: var(--participate-bg-color) !important;
  border-color: var(--participate-color) !important;
}
.button:not(:disabled):hover,
.button:not(:disabled):active {
  background-color: var(--participate-color) !important;
}

.questionText {
  display: block;
  text-align: left;
  min-width: 4em;
  max-height: 7em;
  padding: 1.1em 1em;
  font-size: 1.1em;
  font-weight: 800;
  overflow-wrap: anywhere;
  line-height: 1.2;
  flex-grow: 1;
  overflow-y: auto;
}
@media (max-width: 600px) {
  .questionText {
    padding: 0.6em 0.1em 0.6em 0.1em;
  }
}

.headerContainer .button {
  min-width: 3.4em !important;
  max-width: 3.4em !important;
  min-height: 3.4em !important;
  max-height: 3.4em !important;
  padding: 0;
}
@media (max-width: 600px) {
  .headerContainer .button {
    min-width: 2.5em !important;
    max-width: 2.5em !important;
    min-height: 2.5em !important;
    max-height: 2.5em !important;
  }
  
}

.headerRightContainer {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  gap: 0.8em;
}
@media (max-width: 600px) {
  .headerRightContainer {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 2.5em;
    gap: 0.3em;
  }
}

.pollId {
  text-align: right;
  font-style: italic;
  margin: 0;
  font-size: 1em;
}