.shareWindow {
  background-color: #e2c1cdb5 !important;
  border-color:  var(--participate-color) !important;
  scrollbar-color: #BA8F9E #ffffff00 !important;
}
.closeButton {
  background-color: var(--participate-bg-color) !important;
  border-color: var(--participate-color) !important;
}
.closeButton:hover,
.closeButton:active {
  background-color: var(--participate-color) !important;
}

.shareWindowContent {
  height: 100%;
  overflow: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.title{
  padding: 0;
  margin: 0;
  font-size: 1.4em;
}

.instructions {
  margin: 0.7em 0 0.5em 0;
}

.qrCode {
  padding: 1em;
  max-width: min(50vw, 30vh);
  max-height: min(50vw, 30vh);
  min-height: 8em;
  background-color: white;
  border-radius: 1.2em;
}

.socialsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.socialButton {
  font-size: 1.8em;
  width: 2.5em;
  height: 2.5em;
  background-color: var(--participate-bg-color);
  border-color: var(--participate-color);
}
.socialButton:not(:disabled):hover,
.socialButton:not(:disabled):active {
  background-color: var(--participate-color) !important;
}
@media (max-width: 600px) {
  .socialButton {
    font-size: 1.5em;
  }
}

.socialButton svg {
  scale: 1.2
}

.whatsAppButton {
  background-color: #23b759;
  color: white
}

.telegramButton {
  background-color: #087cb5;
  color: white;
}

.emailButton {
  background-color: #cc6032;
  color: white;
}

.smsButton {
  background-color: #8cb943;
  color: white;
}

.linkInput {
  min-width: 80%;
  max-width: 100%;
  height: 3em;
  text-align: center;
  margin-bottom: 0.4em;
  border-color: var(--participate-color);
}
.linkInput:focus {
  outline-color: var(--participate-color);
}