.createPageCard {
  background-color: var(--create-bg-color);
    border: 6px solid var(--create-color);
}

.votePageContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-right: 10px;
  scrollbar-color: #a293c1 #ffffff00;
}


