.headerContainer {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 3px solid var(--create-color);
}

.questionInputContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.questionInput {
  width: 100%;
  resize: none;
  overflow: auto;
  max-height: 10em;
  font-family: inherit;
  border-color: var(--create-color) !important;
  min-height: 4em;
  height: 4em;
}
.questionInput::placeholder {
  color: var(--create-color);
}
@media (max-width: 600px) {
  .questionInput {
    min-height: 5.3em;
    height: 5.3em;
  }
}

.charCount {
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
}

.saveButton {
  aspect-ratio: 1;
  height: 4em;
  width: 4em;
  color: var(--create-color);
  background-color: var(--create-bg-color);
  border-color: var(--create-color) !important;
}
.saveButton:not(:disabled):hover,
.saveButton:not(:disabled):active {
  background-color: var(--create-color);
}
@media (max-width: 600px) {
  .saveButton {
    height: 5.3em;
    width: 2.5em;
  }
}
