.errorWindow {
  background-color: #f3c8c8d6;
  border: 6px solid #c45c5c;
}

.errorCloseButton {
  display: none;
}

.errorWindow h2 {
  margin: 0;
  font-size: 1.8em;
}

.errorContainer {
  display: grid;
  place-items: center;
}

.errorButton {
  background-color: #c45c5c60 !important;
  border-color: #c45c5c !important;
  width: 65%;
  margin: 2px;
}
.errorButton:hover,
.errorButton:active {
  background-color: #c45c5c !important;
}